@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: darkblue;
  text-decoration: none;
  border-bottom: 1px dashed darkblue;
}

a:hover {
  color: darkblue;
  border-bottom: 1px dashed transparent;
}

a:active {
  color: slateblue;
  border-bottom: 1px dashed transparent;
}

h1 {
  /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
  font-size: 70px;
  line-height: 70px;
  margin: 3px 0 7px;
  white-space: nowrap;
}

@media (max-width: 1001px) {
  h1 {
    /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 701px) {
  h1 {
    /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 401px) {
  h1 {
    /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
    font-size: 20px;
    line-height: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(220, 220, 220, 0.3);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-track:hover {
  background: rgba(220, 220, 220, 0.4);
}

::-webkit-scrollbar-thumb {
  background: slateblue;
  border-radius: 8px;
  border: 1px solid #eeeeee;
}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

::-webkit-scrollbar-button {
  background-color: rgba(220, 220, 220, 0.3);
}

::-webkit-scrollbar-button:hover {
  background-color: rgba(220, 220, 220, 0.4);
}

::-webkit-scrollbar-button:single-button {
  border-style: solid;
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent slateblue transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent darkblue transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 10px 5px 0 5px;
  border-color: slateblue transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: darkblue transparent transparent transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 5px 10px 5px 0;
  border-color: transparent slateblue transparent transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent darkblue transparent transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent slateblue;
}

::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
  border-color: transparent transparent transparent darkblue;
}
/*# sourceMappingURL=main.css.map */