* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body, 
button, 
input, 
div, 
p, 
span, 
a {
    font-family: 'Times New Roman Cyr', 'Times New Roman', serif;
}

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15;
}

@keyframes changeColor {
    from {
        color: mediumblue;
    }

    15% {
        color: slateblue;
    }

    25% {
        color: slateblue;
    }

    to {
        color: darkblue;
    }
}

a {
    position: relative;
    padding-bottom: 2px;
    color: darkblue;
    text-decoration: none;
    user-select: none;
    transition: color 0.4s linear 0s;
}

a:hover {
    color: mediumblue;
}

a:active {
    color: mediumblue;
}

a:focus {
    color: mediumblue;
    outline: none;
    animation: changeColor 3.4s linear 0.1s 1 normal forwards;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: darkblue;
    transition: width 0.4s linear 0s;
}

a:hover::after {
    width: 0;
}



h1 { /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
    font-size: 70px;
    line-height: 70px;
    margin: 3px 0 7px;
    white-space: nowrap;
}

@media (max-width: 1001px) {
    h1 { /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 701px) {
    h1 { /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width: 401px) {
    h1 { /** - Полная высота блока "h1" имеет зависимость от высоты блока с классом "page". */
        font-size: 20px;
        line-height: 20px;
    }
}
